@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
    margin: 0;
    padding: 0;
    /* user-select: none; */
}

body {
    background-image: url("images/636070138268132665-ThinkstockPhotos-491701259.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    width: auto;
    user-select: none;

}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul a {
    padding: 36px 40px;
    text-decoration: none;
    color: black;
    font-family: 'Aclonica', sans-serif;
}

nav ul a:hover {
    background-color: black;
    color: antiquewhite
}

#navbar-logo {
    height: 80px;
    width: 80px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;

}

#search {
    width: 10%;
    text-align: center;
    height: 20px;
    color: black;
    font-size: 15px;
    padding-top: 0px;
    position: absolute;
    top: 20px;
    right: 7%;
    border-radius: 8px;
    border-style: none;
    background: transparent;
    font-family: 'Aclonica', sans-serif;
}

#temp_area {
    display: block;
    padding: 10px 10px;
    position: static;
    align-items: center;
    top: 20%;
    right: 40%;
    left: 40%;
    font-family: 'Aclonica', sans-serif;
}

.temp {
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}

.temp:hover {
    font-size: 30px;
}

#temperature {
    font-size: 120px;

    font-weight: lighter;
}

#last_updated {
    opacity: 0.7;
    font-size: 10px;
}

.search_city {
    display: flex;
}

#search_btn {
    font-size: 15px;
    border: none;
    text-align: center;
    align-items: center;
    padding-top: 2px;
    position: absolute;
    top: 20px;
    right: 3%;
    font-family: 'Aclonica', sans-serif;
    background: transparent;
    text-align: justify;
    max-width: fit-content;
    max-height: fit-content;


}

#search_btn:hover {
    border: 1px solid #14b974;
    cursor: pointer;
}

#wind_information {
    position: absolute;
    left: 0;
    border: 1px solid #A7C7E7;
    font-family: 'Aclonica', sans-serif;
    color: rgb(158, 241, 221);
    text-align: center;
    /* border:2px solid #000080; */
    height: 100px;
    width: 200px;
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 1%;
}

.bottom_container {
    align-content: center;
    display: flex;

}

#feels_like_info {
    position: absolute;
    right: 0;
    border: 1px solid #A7C7E7;
    font-family: 'Aclonica', sans-serif;
    color: rgb(158, 241, 221);
    text-align: center;
    margin-top: 3%;
    margin-right: 1%;
    height: 100px;
    width: 200px;
    border-radius: 20px;
}

#day_night_temp_icon {
    position: absolute;
    right: 48%;
}

#day_night_icon {
    margin-right: 48%;
}

.day_forecast_container {
    color: antiquewhite;
    display: flex;
    position: absolute;
    bottom: 20%;
    overflow: auto;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: fit-content;
    overflow-x: scroll;
    border-radius: 20px;
}


.day_forecast_container::-webkit-scrollbar {
    height: 0px;
}

.day_forecast_container:hover::-webkit-scrollbar {
    height: 5px;
}

.day_forecast_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

.day_forecast_container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0 solid slategrey;
}